.text_area:focus-visible {
    border: 2px solid #0010f0;
    /* Changer la couleur de la bordure */
    outline: none;
    /* Retirer le contour par défaut */
    box-shadow: 0 0 5px rgba(0, 36, 238, 0.5);
    /* Ajouter une ombre légère */
}


.text_area {
    border: none;
    background-color: #00c8ffc5;
    resize: none;
    padding: 10px;
    width: 19rem;
    height: 10rem;
    border-radius: 10px;
    border: solid 2px black
}