.home {
    flex-direction: column;
    align-items: center;
    height: 80px;
}

#btn_go {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 30px;
    background-color: #00ffff;
    padding: 20px 40px 20px 40px;
    border-radius: 20px;
    transition: 0.4s ease-in;
    letter-spacing: 1px;
    text-align: center;
    width: 30%;
    z-index: 2;
}

#btn_go:hover {
    color: white;
    background-color: rgb(3, 146, 146);
    transition: 0.4s ease-in;
}

.h1_title {
    color: white;
    margin-bottom: 150px;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: #00ffff 1px 0 10px;
    z-index: 2;
}

.screen__backgroundT {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);

}

.screen__background__shapeT {
    transform: rotate(45deg);
    position: absolute;
}

.screen__background__shapeT1 {
    height: 54%;
    width: 21%;
    background: #16bbee;
    top: -50px;
    right: 120px;
    border-radius: 0 72px 0 0;
}

.screen__background__shapeT2 {
    height: 24%;
    width: 11%;
    background: #10bde8;
    ;
    top: -172px;
    right: 0;
    border-radius: 32px;
}

.screen__background__shapeT3 {
    height: 56%;
    width: 10%;
    background: linear-gradient(270deg, #20739a, #0e05bb);
    top: -24px;
    right: 0;
    border-radius: 32px;
}

.screen__background__shapeT4 {
    height: 42%;
    width: 11%;
    background: #10bde8;
    top: 420px;
    right: 50px;
    border-radius: 60px;
}

@media (max-width:1200px) {
    #btn_go {
        font-size: 18px;
    }

    .h1_title {
        font-size: 34px;
    }
}

@media (max-width:768px) {
    .screen__backgroundT {
        overflow: hidden;
    }



    .screen__background__shapeT1 {
        height: 24%;
        width: 36%;
        right: 56px;
        top: 18px;
    }

    .screen__background__shapeT2 {
        height: 50%;
        width: 22%;

    }

    .screen__background__shapeT3 {
        height: 56%;
        width: 20%;
    }

    .screen__background__shapeT4 {
        height: 20%;
        width: 20%;
        right: 20px;
    }

    #btn_go {
        font-size: 18px;
        width: 50%;
    }
}

@media(max-width: 480px) {
    #btn_go {
        font-size: 14px;
        width: 60%;
    }

    .h1_title {
        font-size: 26px;
    }
}